<div class="marcador">
    <img src="assets/img/LAL.svg">
    <div>
        <span>{{puntosLocales}}</span>
        <img src="assets/img/NBA_Logo.svg">
        <span>{{puntosVisitantes}}</span>
    </div>
    <img src="assets/img/BOS.svg">
</div>
<div class="jugadores">
    <app-jugadores [jugadores]="locales" 
                   [equipo]="partido.local"
                   (canasta)="getCanastaLocal($event)"></app-jugadores>
    <app-jugadores [jugadores]="visitantes" 
                   [equipo]="partido.visitante"
                   (canasta)="getCanastaVisitante($event)"></app-jugadores>
</div>
<app-top-score [jugadores]="topJugadores"></app-top-score>
